@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/font/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: "Poppins", "arial";
}

/* / width /  */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* / Track /  */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* / Handle /  */
::-webkit-scrollbar-thumb {
  /* background: darkgray; */
  background-image: linear-gradient(white, black, white);
  border-radius: 10px;
}
